body {
  background-image: url(../img/bckg.png);
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
}

.menu {
	width: 1024px;
  	font-size: 20px;
  	color: #fff;
  	text-transform: uppercase;
  	font-family: "PathwayGothicOne Book", sans-serif;
  	position: relative;
  	margin: 0 auto;
 }

.menu__item {
  	position: relative;
  	display: inline-block;
}

.submenu:before {
	content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: #fff transparent;
    position: absolute;
    top: -10px;
    left: 47px;
}

.menu__item > a,
.submenu__item > a {
  	display: inline-block;
  	padding: 10px 30px; 
  	color: var(--accent-color);
  	text-decoration: none;
}

.menu__item>a:hover {
	color: #263555;
}

.submenu {
  	display: none;
  	position: absolute;
  	left: -20px;
  	list-style: none;
  	color: #6b7488;
  	margin-top: 10px;
  	border-radius: 5px;
	height: 85px;
	font-size: 14px;
	margin-left: 25px;
	line-height: 5px;
}

.menu__item:hover>.submenu {
  	display: block;
  	background: #fff;
}

.logo {
	display: block;
	position: relative;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: #fff;
	font-family: Dorsa, sans-serif;
	font-size: 60px;
	line-height: 140px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #263555;
	margin-top: 45px;
}

main {
	width: 1024px;
	background: #fff;
	margin: 60px auto;
	margin-bottom: 0;
	padding: 60px 60px;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.left {
	width: 67%;
}

iframe {
	float: left;
	padding-right: 20px; 
}

h2 {
	font-family: "PathwayGothicOne Book", sans-serif;
	font-size: 23px;
	color: #263555;
	padding-bottom: 50px;
}

p {
	font-family: "Arial Regular", sans-serif;
	font-size: 14px;
	line-height: 17px;
	padding-bottom: 30px;
}

td {
	font-family: "Arial Regular", sans-serif;
	font-size: 13px;
	line-height: 19px;
	padding-right: 20px;
}

.email {
	font-family: "Arial Regular", sans-serif;
	font-size: 13px;
	padding-bottom: 50px;
}

span {
	color: #fa7e7e;
}

.right {
	width: 33%;
	position: relative;
}

input {
	width: 210px;
	height: 28px;
	background: #fcfafa;
	border: 1px solid #d9d3d1;
	font-family: "Arial Regular", sans-serif;
	font-size: 13px;
	color: #263555;
	padding-left: 10px;
	margin-bottom: 20px;
}

.name:before {
	content: "*This field is required.";
	font-size: 11px;
	font-family: "Arial Regular", sans-serif;
	position: absolute;
	left: 115px;
	top: 84px;
	color: #ff0000;
}

textarea {
	width: 210px;
	height: 220px;
	background: #fcfafa;
	border: 1px solid #d9d3d1;
	font-family: "Arial Regular", sans-serif;
	font-size: 13px;
	color: #263555;
	padding-left: 10px;
	padding-top: 10px;
}

.button {
	padding-left: 35px;
	margin-top: 10px;
}

button {
	width: 80px;
	height: 30px;
	font-family: "Arial Regular", sans-serif;
	font-size: 15px;
	background: #fbf6f8;
	border-radius: 7px;
	border: 1px solid #d9d3d1;
	margin-left: 10px;
}

.scroll a{
  position: fixed;
  display: block;
  bottom: 150px;
  right: 245px;
}

.bottom_menu {
  width: 1024px;
  background:#30455b;
  margin: auto;
  padding: 30px 60px;
  display: flex;
  justify-content: center;
}

.bottom_menu div {
	width: 20%;
}

.bottom_menu a {
  color: #fff;
  font-family: "Open Sans Condensed";
  font-size:15px;
  text-decoration: none;
}

.sprites {
  width: 480px;
  margin: auto;
  display: flex;
}

.nav {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav__item {
  height: 50px;
  flex-basis: 50px;
}

.nav__item>a {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.nav__item:nth-of-type(1)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  filter: opacity(.7);
}

.nav__item:nth-of-type(2)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -70px 0px;
  filter: opacity(.7);
}

.nav__item:nth-of-type(3)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -130px 0px;
  filter: opacity(.7);
}

.nav__item:nth-of-type(4)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -190px 0px;
  filter: opacity(.7);
}

.nav__item>a:hover {
  filter: opacity(1);
}

.journ {
  width: 1024px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.journ p {
  font-family: "Arial Regular", sans-serif;
  font-size: 12px;
  color: #fff;
  display: inline-block;
}