body {
  background-image: url(../img/bckg.png);
  background-repeat: no-repeat;
}

.menu {
  width: 830px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Pathway Gothic One", sans-serif;
  position: relative;
  margin: 0 auto;
  margin-bottom: 70px;
 }

.menu__item {
  position: relative;
  display: inline-flex;
}

.submenu:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: #fff transparent;
  position: absolute;
  top: -10px;
  left: 47px;
}

.menu__item > a,
.submenu__item > a {
  display: inline-flex;
  padding: 10px 30px; 
  color: var(--accent-color);
  text-decoration: none;
}

.menu__item>a:hover {
  color: #263555;
}

.submenu {
  display: none;
  position: absolute;
  left: -20px;
  list-style: none;
  color: #6b7488;
  margin-top: 50px;
  border-radius: 5px;
  height: 85px;
  font-size: 20px;
  margin-left: 20px;
  line-height: 5px;
}

.menu__item:hover>.submenu {
  display: block;
  background: #fff;
}

.logo {
  display: block;
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #fff;
  font-family: Dorsa, sans-serif;
  font-size: 60px;
  line-height: 140px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #263555;
  margin-top: 15px;
}

main {
  width: 904px;
  background: #fff;
  margin: 60px auto;
  margin-bottom: 0;
  padding: 0 60px;
  padding-top: 110px;
  padding-bottom: 60px;
}

.block_one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left {
  width: 65%;
}

h2 {
  font-size: 32px;
  font-family: "Pathway Gothic One", sans-serif;
  color: #263555;
  padding-bottom: 50px;
}

.plane {
  float: left;
  padding-right: 25px;
}

h3 {
  font-family: "Arial Regular", sans-serif;
  font-size: 15px;
  color: #263555;
  padding-bottom: 20px;
}

p {
  font-family: "Arial Regular", sans-serif;
  font-size: 13px;
  line-height: 19px;
  padding-bottom: 20px;
}

.right {
  width: 30%;
}
.right h2 {
  padding-left: 40px;
}

ol li {
  font-family: "Arial Regular", sans-serif;
  font-size: 13px;
  padding-left: 30px;
}

ol .title {
  padding-left: 0;
}

ol {
  padding-left: 60px;
  list-style: none;
  counter-reset: point;
}

ol li {
  position: relative;
}

ol li:after {
  content: counter(point);
  counter-increment: point 1;
  font-size: 13px;
  font-family: "Arial Regular", sans-serif; 
  position: absolute;
  left: -20px;
  top: 10px;
  background: #38a;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}

hr {
  width: 900px;
  border-color: #dedbdb;
  margin: 50px 0;
}

.block_two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square {
  width: 210px;
  height: 190px;
  background: #fcfafa;
  border: 1px solid #dfdcdc;
  position: relative;
  margin-left: 40px;
}

.square:before {
  content: "\201c";
  color: #38afe5;
  position: absolute;
  top: 10px;
  display: inline-block;
  color: #263555;
  padding: 10px;
}

.square:after {
  content: "\201d";
  color: #38afe5;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 105px;
  color: #263555;
}

.square p {
  font-family: "Arial Regular", sans-serif;
  font-size: 15px;
  color: #263555;
  padding: 20px;
  line-height: 19px;
}

.author {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #263555;
  padding-top: 60px;
  padding-left: 100px;
}

.director {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #4e5050;
  padding-left: 55px;
}

.arrows {
  padding-top: 20px;
}

.arrows ul {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #263555;
}

.arrows li {
  width: 46%;
  padding-right: 15px;
  padding-bottom: 25px;
  display: inline-flex;
}

.arrows ul li:before {
  content: "\2192";
  color: #38afe5;
  display: inline-flex;
  margin-right: 20px;
}

.scroll a{
  position: fixed;
  display: block;
  bottom: 35%;
  left: calc(100% - 20%);
}

.bottom_menu {
  width: 904px;
  background:#30455b;
  margin: auto;
  padding: 30px 60px;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.bottom_menu p {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans Condensed";
  font-size:15px;
  line-height: 12px;
  padding-bottom: 0;
}

.sprites {
  max-width: 250px;
  margin: 15px auto;
  display: flex;
}

.nav {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav__item {
  height: 50px;
  flex-basis: 50px;
}

.nav__item>a {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.nav__item:nth-of-type(1)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -180px 0px;
  filter: opacity(.7);
}

.nav__item:nth-of-type(2)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  filter: opacity(.7);
}

.nav__item:nth-of-type(3)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -70px 0px;
  filter: opacity(.7);
}

.nav__item:nth-of-type(4)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -130px 0px;
  filter: opacity(.7);
}

.nav__item>a:hover {
  filter: opacity(1);
}

.copywriting {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.copywriting p {
  font-family: "Arial Regular", sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 15px 0;
}
