body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
}

.menu {
  width: 1024px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: PathwayGothicOne, sans-serif;
  position: relative;
  margin: 0 auto;
 }

.menu__item {
  position: relative;
  display: inline-block;
}

.submenu:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: #fff transparent;
  position: absolute;
  top: -10px;
  left: 47px;
}

.menu__item > a,
.submenu__item > a {
  display: inline-block;
  padding: 10px 30px; 
  color: var(--accent-color);
  text-decoration: none;
}

.menu__item>a:hover {
	color: #263555;
}

.submenu {
  display: none;
  position: absolute;
  left: -20px;
  list-style: none;
  color: #6b7488;
  margin-top: 10px;
  border-radius: 5px;
	height: 85px;
	font-size: 14px;
	margin-left: 25px;
	line-height: 5px;
}

.menu__item:hover>.submenu {
  display: block;
  background: #fff;
}

.logo {
	display: block;
	position: relative;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: #fff;
	font-family: Dorsa, sans-serif;
	font-size: 60px;
	line-height: 140px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #263555;
	margin-top: 15px;
}

main {
  width: 1024px;
  background: #fff;
  margin: 60px auto;
  margin-bottom: 0;
  padding: 60px 60px;
}

.block_one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left {
  width: 65%;
}

h2 {
  font-size: 25px;
  font-family: "PathwayGothicOne-Book", sans-serif;
  color: #263555;
  padding-bottom: 50px;
}

.plane {
  float: left;
  padding-right: 25px;
}

h3 {
  font-family: "Arial Regular", sans-serif;
  font-size: 15px;
  color: #263555;
  padding-bottom: 20px;
}

p {
  font-family: "Arial Regular", sans-serif;
  font-size: 13px;
  line-height: 19px;
  padding-bottom: 20px;
}

.right {
  width: 30%;
}

ol li {
  font-family: "Arial Regular", sans-serif;
  font-size: 13px;
  padding-left: 30px;
}

ol .title {
  padding-left: 0;
}

ol {
  padding-left: 60px;
  list-style: none;
  counter-reset: point;
}

ol li {
  position: relative;
}

ol li:after {
  content: counter(point);
  counter-increment: point 1;
  font-size: 13px;
  font-family: "Arial Regular", sans-serif; 
  position: absolute;
  left: -20px;
  top: 10px;
  background: #38a;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}

hr {
  width: 930px;
  border-color: #dedbdb;
  margin: 55px 0;
}

.block_two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square {
  width: 210px;
  height: 190px;
  background: #fcfafa;
  border: 1px solid #dfdcdc;
  position: relative;
}

.square:before {
  content: "\201c";
  color: #38afe5;
  position: absolute;
  top: 10px;
  display: inline-block;
  color: #263555;
  padding: 10px;
}

.square:after {
  content: "\201d";
  color: #38afe5;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 110px;
  color: #263555;
}

.square p {
  font-family: "Arial Regular", sans-serif;
  font-size: 15px;
  color: #263555;
  padding: 20px;
  line-height: 19px;
}

.author {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #263555;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.director {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #4e5050;
  padding-top: 20px;
  padding-left: 15px;
}

.arrows {
  padding-top: 35px;
}

.arrows ul {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #263555;
}

.arrows li {
  width: 46%;
  padding-right: 15px;
  padding-bottom: 25px;
  display: inline-block;
}

.arrows ul li:before {
  content: "\2192";
  color: #38afe5;
  display: inline-block;
  margin-right: 20px;
}

.scroll a{
  position: fixed;
  display: block;
  bottom: 242px;
  right: 245px;
}

.bottom_menu {
  width: 1024px;
  background:#30455b;
  margin: auto;
  padding: 15px 60px;
  display: flex;
  justify-content: space-around;
}

.bottom_menu p {
  color: #fff;
  font-family: "Open Sans Condensed";
  font-size:15px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.sprites-row {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.sprites {
  background-image: url(../img/css_sprites.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
  float: left;
}

.sprites.gl {
  background-position: -60px 0px;
}

.sprites.li {
  background-position: -120px;
}

.sprites.tw {
  background-position: -180px;
}

.sprites a {
  width: 60px;
  height: 60px;
  display: block;
  }

.journ {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.journ p {
  font-family: "Arial Regular", sans-serif;
  font-size: 12px;
  color: #fff;
  display: inline-block;
}