body {
  background-image: url(../img/bckg.png);
  background-repeat: no-repeat;
}

.menu {
  max-width: 830px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: PathwayGothicOne, sans-serif;
  position: relative;
  margin: 0 auto;
  display: block;
 }

 .main_block {
  display: inline-flex;
  justify-content: space-around;
  margin-top: 50px;
 }

 .block_two {
  width: 150px;
 }

.menu__item {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-content: space-between;
}

.submenu:before {
  content: "";
  display: inline-block;
  max-width: 0;
  max-height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: #fff transparent;
  position: absolute;
  top: -10px;
  left: 35px;
}

.menu__item > a,
.submenu__item > a {
  display: inline-flex;
  padding: 10px 15px; 
  color: var(--accent-color);
  text-decoration: none;
  margin: 0 auto;
}

.menu__item>a:hover {
  color: #263555;
}

.submenu {
  display: none;
  position: absolute;
  left: -20px;
  list-style: none;
  color: #6b7488;
  margin-top: 40px;
  border-radius: 5px;
  height: 85px;
  font-size: 14px;
  margin-left: 25px;
  line-height: 5px;
}

.menu__item:hover>.submenu {
  display: block;
  background: #fff;
}

.main_logo {
  position: absolute;
  left: 330px;
  top: -10px;
  margin-bottom: 50px;
}

.logo {
  display: block;
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #fff;
  font-family: Dorsa, sans-serif;
  font-size: 60px;
  line-height: 140px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #263555;
  margin: 20px auto;
}

.conteiner {
	max-width: 1024px;
	background: #fff;
	margin: auto;
	margin-top: 90px;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.wrapper {
	margin: 100px 60px 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left-block {
	width: 70%;
}

h2 {
	font-family: "PathwayGothicOne Book", sans-serif;
	font-size: 23px;
	color: #263555;
	padding-bottom: 50px;
}

h3{
	font-family: "Arial Regular", sans-serif;
	font-size: 12px;
	color: #263555;
	padding-left: 40px;
	padding-bottom: 5px;
}

.left-block h2:before{
  content: "23 APR";
  font-size: 10px;
  font-family: "Arial Regular", sans-serif; 
  position: absolute;
  left: 60px;
  top: 170px;
  background: #38a;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: #fff;
  line-height: 12px;
  text-align: center;
}

.left-block h2:after{
  content: "28 APR";
  font-size: 10px;
  font-family: "Arial Regular", sans-serif; 
  position: absolute;
  left: 60px;
  bottom: 355px;
  background: #38a;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: #fff;
  line-height: 12px;
  text-align: center;
}

.users {
  font-family: "Arial Regular", sans-serif;
  font-size: 10px;
  color: #4e5050;
  position: relative;
  padding-bottom: 20px;
}

.post{
  padding-left: 40px;
}

.comment {
  text-align: right;
  position: absolute;
  top: 0;
  right: 50px;
}

article {
	display: flex;
	justify-content: space-between;
}

h4 {
  font-family: "Arial Regular", sans-serif;
  font-size: 12px;
  color: #263555;
  line-height: 15px;
}

.text {
	padding-left: 20px;
}

p {
  font-family: "Arial Regular", sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: #4e5050;
  padding-top: 20px;
}

button {
	width: 60px;
	height: 20px;
	background: #fbf6fa;
	border-radius: 7px;
	border: 1px solid #d9d3d1;
	font-family: "Arial Regular", sans-serif;
	font-size: 11px;
 	margin: 20px 330px;
}

hr {
  width: 635px;
  color: #dedbdb;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sidebar {
  margin-left: 35px;
}

.arrows ul {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #263555;
  padding-bottom: 50px;
}

.arrows li {
  padding-right: 15px;
  padding-bottom: 25px;
}

.arrows ul li:before {
  content: "\2192";
  color: #38afe5;
  margin-right: 20px;
}

.archiv ul {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #263555;
}

.archiv li {
  padding-right: 15px;
  padding-bottom: 25px;
}

.archiv ul li:before {
  content: "\2192";
  color: #38afe5;
  margin-right: 20px;
}

.scroll a {
	text-decoration: none;
	position: fixed;
	bottom: 330px;
	right: 300px;
}

.bottom_menu {
  width: 1024px;
  background:#30455b;
  margin: auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
}

.bottom_menu p {
  color: #fff;
  font-family: "Open Sans Condensed";
  font-size:15px;
  padding-top: 0;
}

a {
  text-decoration: none;
}

.sprites {
  max-width: 300px;
  margin: 15px auto;
  display: flex;
}

.nav {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav__item {
  height: 50px;
  flex-basis: 50px;
}

.nav__item>a {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.nav__item:nth-of-type(1)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -180px 0px;
  filter: opacity(.7);
}

.nav__item:nth-of-type(2)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -70px 0px;
  filter: opacity(.7);
}

.nav__item:nth-of-type(3)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -130px 0px;
  filter: opacity(.7);
}

.nav__item:nth-of-type(4)>a {
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  background-position: -190px 0px;
  filter: opacity(.7);
}

.nav__item>a:hover {
  filter: opacity(1);
}


.copywriting {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.copywriting p {
  font-family: "Arial Regular", sans-serif;
  font-size: 12px;
  color: #fff;
  display: inline-block;
}